*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #af7754;
}
header{
    display: grid;
    grid-template-columns: 18% 61% 10% 10%;
    align-items: center;
}

.abelha img{
    height: 50px;
}
.abelha{
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 60px;
    transform: rotate(320deg);
}

header img{
    margin-left: 15px;
}

header h3{

}