

*{
    margin: 0;
    padding: 0;
}
:root{
    --letra:#332920;
    --fundo:#af7754;
    --cor--botao:#7a533b;
    --branco:#fff;
    --preto:#000;
}
body{
    background-color: var(--fundo);
    font-family: "Open Sans", sans-serif;
}
header{
    display: grid;
    grid-template-columns: 19% 61% 5% 15%;
    align-items: center;
    color: var(--letra);
}

.abelha img{
    height: 50px;
}
.abelha{
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 85px;
    transform: rotate(320deg);
}

header img{
    margin-left: 15px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 150px;
}

header button{
    width: 80%;
    height: 50px;
    background-color:var(--cor--botao);
    border-radius: 20px;
    color: var(--letra);
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;

}

header h1{
    font-size: 60px;
}

.confira{
    background-color: ;
}