* {
    margin: 0;
    padding: 0;
}

:root {
    --letra--header: #332920;
    --letra--confira: #332920;
    --fundo: #af7754;
    --cor--botao: #7a533b;
    --branco: #fff;
    --preto: #000;
    --cor--fundo--profissao1:#ba9b29;
    --cor--fundo--profissao2:#edc742;
}

body {
    background-color: var(--fundo);
    font-family: "Open Sans", sans-serif;
}

header {
    display: grid;
    grid-template-columns: 19% 61% 5% 15%;
    align-items: center;
    color: var(--letra--header);
}

.abelha img {
    height: 50px;
}

.abelha {
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 85px;
    transform: rotate(320deg);
}

header img {
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 150px;
}

header button {
    width: 80%;
    height: 50px;
    background-color: var(--cor--botao);
    border-radius: 20px;
    color: var(--letra--header);
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-family: "Open Sans", sans-serif;

}

header h1 {
    font-size: 60px;
}

.confira {
    background-color: var(--branco);
    width: 70%;
    margin: 45px auto;
    display: flex;
    justify-content: center;
    border-radius: 20pc;
    padding: 15px;
    color: var(--letra--header);
}

.abelha2 {
    width: 80px;
    transform: rotate(64deg);
    position: absolute;
    left: 15%;
}

.abelha3 {
    width: 80px;
    transform: rotate(296deg);
    position: absolute;
    right: 15%;
    top: 60%;
}

.profissoes1{
    background-color: var(--cor--fundo--profissao1);
    width: 85%;
}

.profissoes2{
    background-color: var(--cor--fundo--profissao2);
    width: 85%;
}